.grid-col-2{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media screen and(min-width:720px) {
        flex-direction: row;
    }
}
.grid-col-4{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and(min-width:520px) {
        flex-direction: row;
    }
}